/***********ELEMENT SELECTOR TAGS**************/


body{

    font-family: "Open Sans", sans-serif;
    text-align: center;
    width: 800px;

}

h1{
    font-size: 30px ;
    margin: 0;
}

h2{

    text-align: left;
    font-size: 25px;

}

h3{
    display: inline-block;
    text-align:left ;

}

/***********CLASSES SELECTOR TAGS**************/

.btn{
    background-color: dodgerblue;
    display: inline-block;
    text-align: center;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    color: white;
}

.date{
    font-size: 0.75rem;
}

.dog1-img{
    width: 500px;
    margin-left: 0;
}

.dog2-img{
    width: 155px;
    padding: 7px;
}

.font{
    font-weight: bold;
}

.review{
    text-align: left;
    margin-bottom: 30px;
}

.review>h3{
    font-size: 25px;
}

.table-rating{
    width: 100%;
    border-collapse: collapse;
}


.table-row-rating>td{
    border-top: 1px solid lightgray;
    text-align: left;
    padding: 0.5rem;
}

.top-left-container{
    display: inline-block;
    margin: 20px;

}

.top-right-container, div>h1, div.p, .button {
    display: inline-block;
    width: 500px;
    padding-right: 20px;
    text-align: left;

}

.whole-container, .review, .rating{
    display: inline-block;
    border-radius: .25rem;
    border: 0.5px solid lightgray;
    width: 1090px;
    padding: 15px;

}


@media only screen and (max-width: 768px){


        body{
        width: 50%;
    }


    .whole-container, .review, .rating {
      width: 100%;
    }

    .top-left-container{
        margin: 0;
        border: 0;
    }

    .dog1-img{
    width: 260px;

        margin-right:5px;


    }

    .dog2-img {
        width: 75px;
        padding: 6px;

    }

    .p-media{
        width: 50% ;
    }

}


