/***********ELEMENT SELECTOR TAGS**************/

body{

    text-align: center;
    width: 50%;
    margin: 0 auto 20px;


}

h1{
    font-size: 30px ;
    margin-bottom: 2%;
}

h2{

    font-size: 25px;
    padding-left: 14%;

}

h3{
    display: inline-block;


}

img{
    width: 55px;
}

/***********CLASSES SELECTOR TAGS**************/



.font{
    font-weight: bold;
}

.heading2{
    width: 20%;

}

.paragraph{

    text-align: left;
    margin-top: 2%;
    margin-bottom: 2%;
}

.review{

    margin-bottom: 30px;
    text-align: left;
}

.review>h3{
    font-size: 25px;
}

.table-rating{
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}


.table-row-rating>td{
    border-top: 1px solid lightgray;
    padding: 0.5rem;
}

.top-container{

    margin-top: 3%;
}

.whole-container, .review, .rating{
    display: inline-block;
    border-radius: .25rem;
    border: 0.5px solid lightgray;
    width: 1090px;
    padding: 15px;

}

.whole-container, .review, .rating{
    width: 800px;
}

@media only screen and (max-width: 768px){



    .whole-container, .review, .rating {
        width: 100%;
    }

    .top-left-container{
        margin: 0;
        border: 0;
    }

}




